<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd 
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/mvc/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/mvc/spring-tx.xsd">

	<context:component-scan base-package="com.july.controller"></context:component-scan>

	<!-- 对静态资源的解析，包括js、css、img -->
	<mvc:resources location="/js/" mapping="/js/**" />
	<mvc:resources location="/css/" mapping="/css/**" />
	<mvc:resources location="/fonts/" mapping="/fonts/**" />
	<mvc:resources location="/images/" mapping="/images/**" />

	<!-- 注解映射器和注解适配器 -->
	<!--conversion-service 向处理器适配器中注入【自定义的参数绑定组件】。 -->
	<!--validator 向处理器适配器注入校验器 -->
	<mvc:annotation-driven conversion-service="conversionService"></mvc:annotation-driven>

	<mvc:interceptors>
		<!-- 若存在多个拦截器，preHandle顺序执行,postHandle和afterCompletion逆序执行 -->
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.july.interceptor.AccessInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- 视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- 自定义Controller中的日期参数绑定：Converter转换器 -->
	<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<!-- 转换器 -->
		<property name="converters">
			<list>
				<!-- 日期类型转换 -->
				<bean class="com.july.controller.converter.CustomDateConverter" />
			</list>
		</property>
	</bean>

	<!--文件上传解析器 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!--默认编码 -->
		<property name="defaultEncoding" value="UTF-8"></property>
		<!--文件上传最大值5MB,5*1024*1024 -->
		<property name="maxUploadSize" value="5242880"></property>
	</bean>

</beans>