<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.july.mapper.BlogVoMapper">
	<resultMap id="BaseBlogResultMap" type="com.july.po.BlogVo">
		<id column="id" jdbcType="INTEGER" property="blogCustom.id" />
		<result column="title" jdbcType="VARCHAR"
			property="blogCustom.title" />
		<result column="introduction" jdbcType="VARCHAR"
			property="blogCustom.introduction" />
		<result column="keyword" jdbcType="VARCHAR"
			property="blogCustom.keyword" />
		<result column="images" jdbcType="VARCHAR"
			property="blogCustom.images" />
		<result column="clickNum" jdbcType="INTEGER"
			property="blogCustom.clicknum" />
		<result column="commentNum" jdbcType="INTEGER"
			property="blogCustom.commentnum" />
		<result column="agreeNum" jdbcType="INTEGER"
			property="blogCustom.agreenum" />
		<result column="isTop" jdbcType="INTEGER"
			property="blogCustom.istop" />
		<result column="isRecommend" jdbcType="INTEGER"
			property="blogCustom.isrecommend" />
		<result column="updateTime" jdbcType="TIMESTAMP"
			property="blogCustom.updatetime" />
		<result column="addTime" jdbcType="TIMESTAMP"
			property="blogCustom.addtime" />
		<result column="status" jdbcType="INTEGER"
			property="blogCustom.status" />
		<result column="type_id" jdbcType="INTEGER"
			property="blogCustom.typeId" />
		<!-- 配置 多对一 关联关系 -->
		<association column="type_id"
			javaType="com.july.po.BlogTypeCustom" property="blogTypeCustom"
			select="selectBlogTypeById">
		</association>
	</resultMap>
	<resultMap extends="BaseBlogResultMap"
		id="ResultMapWithBLOBs" type="com.july.po.BlogVo">
		<result column="content" jdbcType="LONGVARCHAR"
			property="blogCustom.content" />
	</resultMap>

	<resultMap id="BaseBlogTypeResultMap"
		type="com.july.po.BlogTypeCustom">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="typeName" jdbcType="VARCHAR"
			property="typename" />
		<result column="num" jdbcType="INTEGER" property="num" />
		<result column="addTime" jdbcType="TIMESTAMP"
			property="addtime" />
	</resultMap>

	<sql id="Base_Blog_Column_List">
		id, title, introduction, keyword, images, clickNum,
		commentNum, agreeNum,
		isTop,
		isRecommend, updateTime, addTime, status,
		type_id
	</sql>

	<sql id="Base_BlogType_Column_List">
		id, typeName, num, addTime
	</sql>

	<select id="selectBlogByAllType" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Blog_Column_List" />
		from
		t_blog AS a
		where
		(select
		COUNT(*)
		from
		t_blog AS b
		where
	         <![CDATA[b.`status`=1 AND b.type_id = a.type_id AND b.clickNum >= a.clickNum) <= 6 AND `type_id` != 4 AND 
	         `status` = 1]]>
		ORDER BY a.type_id DESC,a.clickNum DESC
	</select>

	<select id="selectBlogTypeById"
		parameterType="java.lang.Integer" resultMap="BaseBlogTypeResultMap">
		select
		<include refid="Base_BlogType_Column_List" />
		from t_blogtype as bt
		where id=#{id}
	</select>


    <select id="selectGroupLikeBlogListByPage" parameterType="java.util.Map"
		resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Blog_Column_List" />
		from t_blog
		<where>
			<if test="isTop!=null and isTop!=''">
				and isTop=#{isTop}
			</if>
			<if test="type_id!=null and type_id!=''">
				and type_id=#{type_id}
			</if>
			<if test="status!=null and status!=''">
				and status=#{status}
			</if>
			<if test="isRecommend!=null and isRecommend!=''">
				and isRecommend=#{isRecommend}
			</if>
			<if test="addTime!=null and addTime!=''">
				and DATE_FORMAT(addTime,'%Y-%m-%d')=#{addTime}
			</if>
			<if test="title!=null and title!=''">
				and ( title like CONCAT(CONCAT('%', #{title}), '%') or keyword like
				CONCAT(CONCAT('%', #{keyword}), '%'))
			</if>
		</where>
		<if test="sort!=null and sort!=''">
			ORDER BY  #{sort}
		</if>
		DESC
	</select>
	
</mapper>